rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for user profile metadata
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Rules for portfolios and their nested subcollections
    match /portfolios/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;

      match /experiences/{experienceId} {
        allow read: if true;
        allow write: if request.auth != null && request.auth.uid == userId;
      }
      match /projects/{projectId} {
        allow read: if true;
        allow write: if request.auth != null && request.auth.uid == userId;
      }
      match /socialLinks/{linkId} {
        allow read: if true;
        allow write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
